html,
body,
#map_canvas {
    /* width: 3508px; */
    width: auto;
    position: relative;
    /* height: 2480px; */
    top: 10 px;
    height: 800 px;
    margin: 0 px;
    padding: 0 px;
    z - index: 1;
}

# h3 {
    position: relative;
    left: 25 px;
    z - index: 2;
    font - size: 18 px;
    font - family: Arial, Helvetica, sans - serif;
    color: #FFF;
    text - align: left;
    text - shadow: 0 2 px 2 px #000;
    padding: 5px 0;
}

.county {
    color: # fff;
    font - size: 16 px;
    margin: 12 px;
}

# googft - legend {
    background - color: #fff;
    border: 1 px solid #000;
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 5px;
    padding: 10px 10px 8px;
}

# googft - legend p {
    font - weight: bold;
    margin - top: 0;
}

# googft - legend div {
    margin - bottom: 5 px;
}

.googft - legend - swatch {
    border: 1 px solid;
    float: left;
    height: 12 px;
    margin - right: 8 px;
    width: 20 px;
}

.googft - legend - range {
    margin - left: 0;
}

.googft - dot - icon {
    margin - right: 8 px;
}

.googft - paddle - icon {
    height: 24 px;
    left: -8 px;
    margin - right: -8 px;
    position: relative;
    vertical - align: middle;
    width: 24 px;
}

.googft - legend - source {
    margin - bottom: 0;
    margin - top: 8 px;
}

.googft - legend - source a {
    color: #666;
    font-size: 11px;
}

.ct-title {
    color: white;
    font-weight: bold;
}
